.App {
  text-align: center;
}
:root {
  
  --bs-light: #bbb4e0ef; 
   --bs-dark: #0c2864ef;
  
}
.App-logo {
  height: 40v;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul.custom-bullet li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}

ul.custom-bullet li:before {
  content: '✔';
  position: absolute;
  left: 0;
  font-size: 20px;
}

li {
  
  font-size: 20px;
  line-height: 1.5;

}

body{
  font-family:cursive;
}